@theme {
  --color-primary: #121417;
  --color-surface: #293038;

  --color-text-primary: #ffffff;
  --color-text-secondary: #9cabba;

  --radius-custom-sm: 8px;
  --radius-custom-md: 12px;
  --radius-custom-circle: 50%;
}